<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Dynamic Content - Total of items: {{ total }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list padding>
		<ion-item *ngFor="let item of items; let idx=index; trackBy: track">
			{{ idx + 1 }} : {{ item.title }}
		</ion-item>
	</ion-list>
	<ion-infinite-scroll threshold="288px" position="bottom" (ionInfinite)="onScroll()">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
