<ion-header>
	<ion-toolbar>
		<ion-title>Home</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list>
		<ion-item>
			<ion-label position="stacked" color="">
				Email
			</ion-label>
			<ion-input type="email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked" color="">
				Password
			</ion-label>
			<ion-input type="password"></ion-input>
		</ion-item>
	</ion-list>
	<ion-button fill="solid" color="primary" (click)="login()">
		Login
	</ion-button>		

</ion-content>
